<!DOCTYPE html>
<html>

<head>
	{{> standard-header-stuff}}
	<title>{{title}}</title>
	<link rel="stylesheet" href="/css/dashboard-css.css">
</head>

<body id="body">
	{{> outer_navbar}}

	<!-- Page Contents -->
	<div class="pusher" id="pusher">
		<div class="ui inverted masthead center aligned segment landing-image">
			{{> inner_navbar}}
		</div>

		<div class="ui vertical stripe segment">
			<div class="ui container" id="userSettingsContainer">
				<h3 class="ui header">User settings</h3>

				<div class="ui one column grid">
					<div class="column">

						<div class="ui fluid cards">
							<div class="card" id="userContent">
							</div>
						</div>

					</div>

				</div>


			</div>
		</div>

		<div class="ui vertical stripe">
			<div class="ui container">
				<h3 class="ui header">Server settings</h3>

				<div class="ui three column grid">
					<div class="column">

						<div class="ui search selection dropdown fluid">
							<input type="hidden" name="country">
							<i class="dropdown icon"></i>
							<div class="default text">Select server</div>
							<div class="menu" id="menu">
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>

		<!-- grid exmaple -->
		<div class="ui vertical stripe">
			<div class="ui container">

				<div class="ui aligned grid">
					<div class="floated centered aligned six wide column">
						<div class="ui segment">
							Right floated left aligned column
						</div>
					</div>
					<div class="center aligned two column row">
						<div class="column">
							<div class="ui segment">
								Center aligned row
							</div>
						</div>
						<div class="column">
							<div class="ui segment">
								Center aligned row
							</div>
						</div>
					</div>
					<div class="sixteen wide column">
						<div class="ui segment">
							Right Aligned Grid
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- grid exmaple end -->

	</div>

	<script>
		const updateCheckboxes = function () {
			//fu css
			document.getElementById("upvotePrivacy").removeAttribute('checked');
			if (data.dataPrivacy.publicUpvote) document.getElementById("upvotePrivacy").setAttribute('checked', '');
			document.getElementById("lovePrivacy").removeAttribute('checked');
			if (data.dataPrivacy.publicLove) document.getElementById("lovePrivacy").setAttribute('checked', '');
			document.getElementById("levelPrivacy").removeAttribute('checked');
			if (data.dataPrivacy.publicLevel) document.getElementById("levelPrivacy").setAttribute('checked', '');
			document.getElementById("pointsPrivacy").removeAttribute('checked');
			if (data.dataPrivacy.publicPoints) document.getElementById("pointsPrivacy").setAttribute('checked', '');
			document.getElementById("profilePrivacy").removeAttribute('checked');
			if (data.dataPrivacy.publicProfile) document.getElementById("profilePrivacy").setAttribute('checked',
				'');
		}

		const displayModal = function () {
			if (!data.editedPrivacySettings) {
				//In the shadows update the settings when the checkboxes are clicked
				data.editedPrivacySettings = data.dataPrivacy;
				document.getElementById('pointsPrivacyContainer').addEventListener('click', () => {
					data.editedPrivacySettings.publicPoints = data.editedPrivacySettings.publicPoints ? false : true;
				});
				document.getElementById('lovePrivacy').addEventListener('click', () => {
					data.editedPrivacySettings.publicLove = data.editedPrivacySettings.publicLove ? false : true;
				});
				document.getElementById('profilePrivacy').addEventListener('click', () => {
					data.editedPrivacySettings.publicProfile = data.editedPrivacySettings.publicProfile ? false :
						true;
				});
				document.getElementById('levelPrivacy').addEventListener('click', () => {
					data.editedPrivacySettings.publicLevel = data.editedPrivacySettings.publicLevel ? false : true;
				});
				document.getElementById('upvotePrivacy').addEventListener('click', () => {
					data.editedPrivacySettings.publicUpvote = data.editedPrivacySettings.publicUpvote ? false : true;
				});
			}
			updateCheckboxes();
			$('#privacySettingsModal')
				.modal('show');
		}

		const updatePrivacySettings = async function () {
			document.getElementById('savePrivacySettingsButton').classList.add("loading");
			$('#body').append(
				`
<div class="ui segment" id="savingNotice">
    <div class="ui active dimmer">
        <div class="ui indeterminate text loader">Saving...</div>
    </div>
    <p></p>
</div>
            `
			);
			document.getElementById('savingNotice').appendChild(document.getElementById('pusher'));
			document.getElementById('savingNotice').appendChild(document.getElementById('footer'));
			data.dataPrivacy = data.editedPrivacySettings;
			let postData = $.post({
				url: '/api/userData',
				data: JSON.stringify(data),
				dataType: 'json',
				contentType: 'application/json',
				sucess: null
			})
				.done(() => {
					$('#userSettingsContainer').append(`
                <div class="ui positive message">
  <i class="close icon"></i>
  <div class="header">
    Success
  </div>
  <p>Successfully updated your settings
</p></div>`);
					$('.message .close')
						.on('click', function () {
							$(this)
								.closest('.message')
								.transition('fade');
						});
				})
				.fail((error) => {
					//console.error(error);
					$('#userSettingsContainer').append(`
                <div class="ui negative message">
  <i class="close icon"></i>
  <div class="header">
    Awww, something bad occurred :v
  </div>
  <p>Failed to update your settings
</p></div>`);
					$('.message .close')
						.on('click', function () {
							$(this)
								.closest('.message')
								.transition('fade');
						});
				})
				.always(() => {
					document.getElementById('savePrivacySettingsButton').classList.remove('loading');
					let pusher = document.getElementById('pusher'),
						footer = document.getElementById('footer');
					document.getElementById('savingNotice').removeChild(document.getElementById('pusher'));
					document.getElementById('savingNotice').removeChild(document.getElementById('footer'));
					$('#savingNotice').remove();
					document.getElementById('body').appendChild(pusher);
					document.getElementById('body').appendChild(footer);
				});
		}
	</script> {{> footer}}

	</div>
	<script src="/jQuery/jquery.min.js"></script>
	<script src="/semantic/dist/semantic.min.js"></script>
	<script src="/semantic/dist/components/popup.min.js"></script>
	<script src="/js/sites/index.js"></script>
	<script src="/js/sites/dashboard.js"></script>
</body>

</html>
