<!DOCTYPE html>
<html>

<head>
	{{> standard-header-stuff}}
	<title>{{title}}</title>
	<link rel="stylesheet" href="/css/dashboard-css.css">
</head>

<body>
	{{> outer_navbar}}

	<!-- Page Contents -->
	<div class="pusher">
		<div class="ui inverted masthead center aligned segment landing-image">
			{{> inner_navbar}}
		</div>

		<p>Hello {{context.session.username}}</p>

		<button class="ui secondary basic button" id="get">I'm a "get" test button</button>


		<br>
		<br>
		<br>
		<br>
		<form class="ui form">
			<div class="field">
				<label>write a number here</label>
				<input type="text" id="take_my_value_to_push" placeholder="my message is gonna be psuhed to the server" autocomplete="off">
			</div>
			<button class="ui button" type="submit" id="push">push to server</button>

		</form>

		<h1 id="push_change">I'm going to be changed</h1>


	</div>

	{{> footer}}

	</div>
	<script src="/jQuery/jquery.min.js"></script>
	<script src="/semantic/dist/semantic.min.js"></script>
	<script src="/semantic/dist/components/popup.min.js"></script>
	<script src="/js/sites/index.js"></script>
	<script src="/js/sites/dashboard.js"></script>

	<script>
		$('.ui.dropdown').dropdown();
		let data = ""
		$(document).ready(function () {
			$.get("/api/mutualGuilds", function (json, status) {
				data = json
				var items = [{ text: 'One', image: '/imgs/avatar.jpg' }, { text: 'Two', image: '/imgs/felix-bg.jpg' }]
				var guild = {
					id: [],
					icon: [],
					name: []
				}

				let _map = new Map(Object.entries(data.mutualGuilds))

				for (let num = 0; num < _map.size; num++) {
					console.log(_map.get(num.toString()).id)
					guild.id.push(_map.get(num.toString()).id)
					guild.name.push(_map.get(num.toString()).name)
					if (_map.get(num.toString()).icon == null) {
						guild.icon.push("https://semantic-ui.com/images/wireframe/square-image.png")
					} else {
						guild.icon.push(`https://cdn.discordapp.com/icons/${guild.id[num]}/${_map.get(num.toString()).icon}.png`)
					}
				}


				setTimeout(function () {
					for (let index = 0; index < _map.size; index++) {
						$('#menuDropdown').append(`
							<div class="item" data-value=${guild.id[index]}>
								<img class="ui circular image" src=${guild.icon[index]}>
								${guild.name[index]}
							</div>
						`)
					}
					$('#menuDropdown').dropdown('refresh');
				}, 1000)
			});
		});


		// Object.size = function (obj) {
		// 	var size = 0, key;
		// 	for (key in obj) {
		// 		if (obj.hasOwnProperty(key)) size++;
		// 	}
		// 	return size;
		// };
		// // Get the size of an object
		// var size = Object.size(obj);
	</script>

</body>

</html>
