<!DOCTYPE html>
<html>

<head>
	{{> standard-header-stuff}}
	<title>{{title}}</title>
	<link rel="stylesheet" href="/css/dashboard-css.css">
</head>

<body id="body">
	{{> outer_navbar}}

	<!-- Page Contents -->
	<div class="pusher" id="pusher">
		<div class="ui inverted masthead center aligned segment landing-image">
			{{> inner_navbar}}
		</div>

		<div class="ui vertical stripe segment">
			<div class="ui container" id="userSettingsContainer">
				<h3 class="ui header">User settings</h3>

				<div class="ui one column grid">
					<div class="column">

						<div class="ui fluid cards">
							<div class="card" id="userContent">
							</div>
						</div>

					</div>

				</div>


			</div>
		</div>

		<div class="ui vertical stripe">
			<div class="ui container">
				<h3 class="ui header">Server settings</h3>

				<div class="ui three column grid">
					<div class="column">

						<div class="ui search selection dropdown fluid">
							<input type="hidden" name="country">
							<i class="dropdown icon"></i>
							<div class="default text">Select server</div>
							<div class="menu" id="menu">
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>

		<!-- grid exmaple -->
		<div class="ui vertical stripe">
			<div class="ui container">

				<div class="ui aligned grid">
					<div class="floated centered aligned six wide column">
						<div class="ui segment">
							Right floated left aligned column
						</div>
					</div>
					<div class="center aligned two column row">
						<div class="column">
							<div class="ui segment">
								Center aligned row
							</div>
						</div>
						<div class="column">
							<div class="ui segment">
								Center aligned row
							</div>
						</div>
					</div>
					<div class="sixteen wide column">
						<div class="ui segment">
							Right Aligned Grid
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- grid exmaple end -->

	</div>
	
	{{> footer}}

	</div>
	<script src="/jQuery/jquery.min.js"></script>
	<script src="/semantic/dist/semantic.min.js"></script>
	<script src="/semantic/dist/components/popup.min.js"></script>
	<script src="/js/sites/index.js"></script>
	<script src="/js/sites/dashboard.js"></script>
</body>

</html>
