<!DOCTYPE html>
<html>

<head>
  {{> index-header}}
</head>

<body>
  {{> outer_navbar}}

  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted masthead center aligned segment landing-image">

      {{> inner_navbar}}

      <div class="ui text container get-down-350">
        <h1 class="ui inverted header">
          {{errorMessage}}
        </h1>
        <h2>{{statusCode}}</h2>
      </div>

    </div>

    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <script src="/semantic/dist/components/popup.min.js"></script>
    <script src="/js/sites/index.js"></script>

</body>

</html>