<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid centered">
      <div class="eight wide column">
        <h3 class="ui inverted header">Felix</h3>
        <div class="ui inverted link list">
          <div class="item inverted">
            Felix is a multi-purpose bot, providing utility and server management tools created by ParadoxOrigins, written in JavaScript and is running on Node.
          </div>
  
          <div class="item inverted">
            felixbot.xyz is running on <a href="https://nodejs.org/">NodeJS</a> with <a href="http://handlebarsjs.com/">handlebars</a> and <a href="https://hapijs.com/">hapi</a>.
          </div>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Links</h4>
        <div class="ui inverted link list">
          <a href="https://discordapp.com/oauth2/authorize?&client_id=327144735359762432&scope=bot&permissions=2146950271" class="item">Invite</a>
          <a href="https://github.com/ParadoxalCorp/FelixBot/wiki" class="item">Documentation</a>
          <a href="https://github.com/ParadoxalCorp/FelixBot" class="item">Github</a>
          <a href="https://discord.gg/FD3BjRq" class="item">Support server</a>
        </div>
      </div>
    </div>
  </div>
</div>
