<div class="ui container">
	<div class="ui large secondary inverted pointing menu">
		<a class="toc item">
			<i class="sidebar icon"></i>
		</a>
		<a class="active item" href="/">Home</a>
		<div class="right item">
			{{#if context.session.username}}
			<a class="ui inverted button" href="/dashboard">Dashboard</a>
			{{/if}}
			{{#if context.session.username}}
			<a class="ui inverted button" href="/logout">Log out</a>
			{{else}}
			<a class="ui inverted button" href="/discord">Log in</a>
			{{/if}}
		</div>
	</div>
</div>
